/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/* vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

html{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fffef8;
}

body {
	font-family: 'Work Sans';
	font-size: 14px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.edit_mode{
	width: calc(100% - 40px);
	padding: 20px;
	margin: 0;
	display: flex;
	justify-content: center;
	background-color: black;
	color: white;
}
.edit_mode i{
	margin-right: 10px;
}

header {
	width: 1140px;
	margin: 40px 0;
	display: flex;
	justify-content: space-between;
}

header a {
	width: 100%;
	display: flex;
	justify-content: start;
	text-decoration: none;
}

main {
	width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
section {
	margin: 50px 0
}

h1{
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;


}

.nav_entete ul li {
	padding: 0 10px;
	font-size: 1.2em;
}

/* .nav_entete ul li:hover {
	padding: 0 10px;
	font-size: 1.2em;
	font-weight: 900;
	color: black;
} */

.nav_entete ul li a {
	color: black;
}

.nav_entete ul li img {
	height: 25px;
	transition-duration: .4s;
}

.nav_entete ul li img:hover {
	transform:scale(1.3);
}

li:hover, a:hover  {
	/* color: #B1663C; */
	font-weight: 900;
	color: black;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio{
	padding-top: 30px;
}
.modif_projets{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-btn{
	padding: 0 20px 25px;
	font-size: 15px;
	cursor: pointer;
	border: none;
	background: transparent; 
}

.modal-container, .modal-container-add{
	visibility: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
}

.modal-container.active{
	visibility: visible;
}

.modal-container-add.active{
	visibility: visible;
}

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #33333375;
	opacity: 0;
}

.modal-container.active .overlay{
	opacity: 1;
	transition: opacity .4s ease;
}

.modal-container-add.active .overlay{
	opacity: 1;
	transition: opacity .4s ease;
}

.modal{
	width: 95%;
	max-width: 600px;
	min-width: 300px;
	padding: 20px 30px;
	background-color: #ffffff;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* overflow-y: scroll; */
}

.alone_btn_close, .buttons_action {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: flex-end;
}

.buttons_action {
	justify-content: space-between;
}

.fa-xmark, .fa-arrow-left{
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
}

.modal h3{
	text-align: center;
	font-size: 30px;
	padding: 10px 0 30px;
}

.bloc_photo, #formPhoto {
	width: 80%;
}
.bloc_photo {
	width: 80%;
	height: 180px;
	background-color: #e8f1f6;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.disaperedForPicture{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fa-regular.fa-image{
	color: #cbd6dc;
	font-size: 60px;
	padding: 5px;
}
.add_photo{
	background-color: #cbd6dc;
	border: none;
	border-radius: 50px;
	padding: 10px 20px;
	margin: 5px 0 10px;
	color: #497893;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
}
.conseil {
	font-size: 11px;

}

#all_gallery, .bloc_details_photo {
	width: 100%;
	border-bottom: 1px solid grey;
}

.gallery_img{
	position: relative;
}

/* .trashbox{
	width: 15px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.579);
	position: absolute;
	top: 5%;
	right: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
} */

.fa-trash-can{
	position: absolute;
	top: 5%;
	right: 5%;
	width: 10px;
	height: 15px;
	background-color: rgba(0, 0, 0, 0.579);
	padding: 5px;
	border-radius: 2px;
	color: white;
	font-size: 12px;
	cursor: pointer;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filtres_projets {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
}

.filtres_projets button {
	color : #1D6154;
	font-weight: 600;
	font-size: 17px;
	border: 1px solid #1D6154;
	border-radius: 50px;
	background-color: #fffef8;
	padding: 10px 20px;
	margin: 5px;
}

.filtres_projets button:hover {
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#all_gallery{
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	padding: 20px 0 40px;
}

.gallery img, #all_gallery img{
	width: 100%;
}

#contact{
	padding-top: 30px;
}

#contact, #connexion {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}

#connexion {
	width: 450px;
	min-width: 250px;
	text-align: center;
}

#contact h2, #connexion h2{
	margin-bottom: 20px;
}
#contact form, #connexion form, .bloc_details_photo {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input, #connexion input, .bloc_details_photo input {
	height: 50px;
	padding: 0 15px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #connexion label, .bloc_details_photo label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	padding: 15px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.bloc_details_photo{
	padding-bottom: 40px;
	margin-top: 5px;
}

input[type="submit"], #add_picture {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

input[type="submit"]:hover, #add_picture:hover {
	background-color: black;
}

.submit_photo{
	width: 100%;
	display: flex;
	justify-content: center;
}

#add_picture{
	text-align: center;
	padding: 1em 1.5em;
	font-weight: normal;
	font-size: 14px;
	min-width: 250px;
	border: none; 
}

.error_message{
	padding: 20px;
	color: #B1663C;
}

.forgetPassword{
	text-align: center;
	text-decoration: underline;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0;
	height: 80px;
	background-color: white;
	box-sizing: border-box;
}

footer nav{
	width: 1140px;
}

footer nav ul{
	display: flex;
	justify-content: end;
	width: 100%;
	height: 100%;
    max-width: 1140px;
	height: 80px;
    margin: auto;
}

.mentions_legales{
	max-width: 1140px;
	padding: 0 10px;
}
